<div class="contactUs">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="messageContainer">
                <span class="message">
                    Thank you for your interest in Velavan Info Tech.<br>
                    Please provide the following information about your business needs to help us serve you better.
                </span>
            </div>
            <ui-gmap-google-map center='map.center' zoom='map.zoom' pan="true"></ui-gmap-google-map>
        </div>
        <div class="col-xs-12 col-md-6">
            Address
        </div>
        <div class="col-xs-12 col-md-6">
            Touch
        </div>

    </div>
</div>