.menuLayout {
  color: #f84055;
  .menuContainer{
    ul{
      list-style-type: none;list-style-type: none;list-style-type: none;
      li{
        float: left;
        width: 100px;
      }
    }
  }
}
.test{
  .ts{
    display: none;
  }
}
