.angular-google-map-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

.messageContainer{
  text-align: center;
  margin: 15px 0px;
  .message{
    font-family: UbuntuLightItalic;
    font-size: 20px;
  }
}

.getInTouch{
.sendButton{
  width: 100%;
  background-color: #5974ad;
}
}